div.ba-product-order-container
    button(type="button", (click)="setOrder('price')") Precio
    button(type="button", (click)="setOrder('availability')") Disponibilidad
    button(type="button", (click)="setOrder('quantity')") Cantidad