div.ba-product-order-container
    .order-label((click)="optionsOpened = !optionsOpened")
        span {{getLabel(actualOrder.orderField, !actualOrder.reverse)}} 
        .order-icon.i.fas.fa-chevron-up(*ngIf="!optionsOpened")
        .order-icon.i.fas.fa-chevron-down(*ngIf="optionsOpened")
        .options-container(*ngIf="optionsOpened == true")
            .option(*ngFor="let option of orderOptions", (click)="setOrder(option.field)") {{getLabel(option.field, actualOrder.reverse)}}
                .selected-option(*ngIf="actualOrder.orderField==option.field")