@import 'responsive';

.ba-product-order-container {
    text-align: right;

    .order-label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        color: #333;
        margin-top: 12px;

        .order-icon {
            font-size: 12px;
        }

        .options-container {
            position: absolute;
            top: 30px;
            left: 10px;
            border-radius: 3px;
            background-color: white;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
            z-index: 1;
            min-width: 205px;

            @include respond-to(ph tb) {
                left: -120px;
            }

            .option {
                padding: 12px 20px 12px 20px;
                border-bottom: 1px solid #f1f1f1;
                text-align: left;
                position: relative;

                &:hover {
                    background-color: #e4e4e4;
                    cursor: pointer;
                }

                .selected-option {
                    background-color: #ffd68d;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;
                    width: 7px;
                    height: 43px;
                }
            }

            
            &:after, &:before {
                bottom: 100%;
                left: 23px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;

                @include respond-to(ph tb) {
                    left: 175px;
                }
            }
            
            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #ffffff;
                border-width: 10px;
                margin-left: -10px;
            }
            &:before {
                border-color: rgba(222, 222, 222, 0);
                border-bottom-color: #dedede;
                border-width: 11px;
                margin-left: -11px;
            }
        }


    }

}