.container.ba-category-container
        .row
            .col-sm-3
                ba-filters([filters]="filters", [products]="products")
                ba-product-order((orderChanged)="onOrderChanged($event)")
            .col-sm-9
                .search-bar
                    input([(ngModel)]="filters.textField", type="text", placeholder="Buscar productos")
                div.products-list-container(*ngFor="let product of products | productFilter: filters | orderBy: order.orderField : order.reverse")
                    ba-product-item([product]="product")
