div.ba-cart-menu-layout([@layoutAnimation], *ngIf="menuService.getShowCartMenu()", (click)="closeMenu()")
div.ba-cart-menu-container([@menuAnimation], *ngIf="menuService.getShowCartMenu()")
    div.ba-cart-menu-header
        .cart-text
            i.fas.fa-shopping-cart
            span  Carrito de compras
        .icon.close-menu((click)="closeMenu()", matRipple)
            i.fas.fa-times
    div.ba-cart-menu-content
        div.cart-product(*ngFor="let cp of cartService.getCartproducts()")
            i.fas.fa-minus-circle.action-button((click)="removeExistingProduct(cp.productId)", matTooltip="Eliminar")
            .count-product {{cp.quantity}}
            i.fas.fa-plus-circle.action-button((click)="addExistingProduct(cp.productId)", matTooltip="Agregar")
            .product-name
                span {{cp.name}}
            .product-price {{cp.price | currency: '$ ' : 'symbol' : '1.0-0'}}
            .product-divider
        .cart-total
            div Total
            div {{displayTotal()}}