@import 'app-colors';

$toolbar-color: $gray2;
$toolbar-border-color: #dedede;

.ba-cart-menu-layout {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
}

.ba-cart-menu-container {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 412px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    z-index: 11;

    .ba-cart-menu-header {
        height: 50px;
        background-color: #efefef;
        border-bottom: 1px solid #c5c5c5;

        .cart-text {
            position: absolute;
            font-size: 20px;
            width: calc(100% - 50px);
            padding: 13px;
            text-align: center;
            color: #f19f0b;
        }

        .close-menu {
            display: inline-block;
            position: absolute;
            width: 50px;
            height: 50px;
            font-size: 25px;
            text-align: center;
            line-height: 48px;
            cursor: pointer;
            color: #444444;
            &:hover {
                background-color: $gray2;
                color: #000000;
            }
            right: 0;
            top: 0;
        }
    }

    .ba-cart-menu-content {

        width: 100%;
        height: calc(100% - 51px);
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        
        .cart-product {
            padding: 5px;
            height: 65px;
            position: relative;
            padding: 17px;
        }

        .cart-total {
            padding: 5px;
            height: 65px;
            position: relative;
            padding: 17px;
            font-weight: bold;
            font-size: 18px;
            
            .total-text {
                float: left;
            }

            .amount-text {
                float: right;
            }

        }

        .mail-container {
            padding: 10px;
            width: 100%;

            mat-form-field {
                width: 100%;
            }
        }

        .buy-button-container{
            padding: 10px;

            button {
                background-color: #f19f0b;
                width: 100%;
                padding: 5px;
                border: none;
                color: #efece6;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }

}