.router-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100% - 50px);
    height: calc(100% - 50px);
    margin-top: 50px;
}