div.ba-filters-container
    .individual-filter-container
        .filter-title Disponibilidad
        mat-form-field.select-container
            mat-select([(ngModel)]="filters.available")
                mat-option([value]="'all'") Todos
                mat-option([value]="true") Disponible
                mat-option([value]="false") No Disponible
    .individual-filter-container(*ngIf="optionsRangePrice.floor != optionsRangePrice.ceil")
        .filter-title Precio
        ng5-slider([(value)]="filters.minPrice", [(highValue)]="filters.maxPrice", [options]="optionsRangePrice")
    .individual-filter-container(*ngIf="optionsRangeQuantity.ceil > 1")
        .filter-title Cantidad
        ng5-slider([(value)]="filters.stockQuantity", [options]="optionsRangeQuantity")
