.form-container
    .title Datos de pago
    div nombre
    input(type="text", [(ngModel)]="cardData.name")
    div numero
    input(type="text", [(ngModel)]="cardData.number")
    div fecha
    input(type="text", [(ngModel)]="cardData.expireDate")
    div codigo de seguridad
    input(type="text", [(ngModel)]="cardData.secureCode")