.form-container
    .title
        i.far.fa-credit-card
        span  Datos de pago
    mat-form-field.name-field
        input(matInput, placeholder="Nombre", [(ngModel)]="cardData.name")
    mat-form-field.number-field
        input(matInput, placeholder="Numero", [(ngModel)]="cardData.number")
    mat-form-field.expire-field
        input(matInput, placeholder="Fecha Venc.", [(ngModel)]="cardData.expireDate")
    mat-form-field.cvv-field
        input(matInput, placeholder="CVV", [(ngModel)]="cardData.secureCode")