@import 'app-colors';

$toolbar-color: $gray2;
$toolbar-border-color: #dedede;

.ba-left-menu-layout {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
}
.ba-left-menu-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    z-index: 11;

    .ba-left-menu-header {
        height: 50px;

        .back-button {
            padding: 15px;
            color: #1f1f1f;
            width: calc(100% - 50px);
            cursor: pointer;

            &:hover {
                background-color: $gray2;
                color: #000000;
            }

            span {
                margin-left: 10px;
                font-weight: 600;
            }

        }

        .close-menu {
            display: inline-block;
            position: absolute;
            width: 50px;
            height: 50px;
            font-size: 25px;
            text-align: center;
            line-height: 48px;
            cursor: pointer;
            color: #444444;
            &:hover {
                background-color: $gray2;
                color: #000000;
            }
            right: 0;
            top: 0;
        }
    }

    .ba-left-menu-content {

        width: 100%;
        height: calc(100% - 51px);
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        .menu-item {
            padding: 16px;
            position: absolute;
            color: #1f1f1f;
            cursor: pointer;
            width: 100%;
            left: 0;

            &:hover {
                background-color: $gray2;
                color: #000000;
            }

            .right-icon {
                font-size: 18px;
                right: 20px;
                top: 16px;
                position: absolute;
            }
        }
    }

}