div.ba-header-container
    .icon.menu-icon((click)="menuService.openLeftMenu()")
        i.fas.fa-bars
    .img-container
        img(src="/assets/elbaraton2.png", routerLink="/home", routerLinkActive="false")
    .icon.cart-icon
        i.fas.fa-cart-arrow-down