 @import 'app-colors';

 $toolbar-color: #f7f7f7;
 $toolbar-border-color: #dedede;

.ba-header-container {
    height: 50px;
    width: 100%;
    padding: 5px 0 5px 0px;
    background-color: $toolbar-color;
    border-bottom: 1px solid #dedede;
    position: fixed;
    top: 0;
    background-color: #f7f7f7;
    z-index: 5;

    .icon {
        display: inline-block;
        position: absolute;
        width: 40px;
        height: 40px;
        font-size: 25px;
        text-align: center;
        line-height: 41px;
        cursor: pointer;
        color: #444444;
    }
    
    .menu-icon {
        top: 5px;
        left: 5px;
    }

    .img-container {
        img {
            cursor: pointer;
            width: 154px;
            margin-left: 64px;
        }
    }

    .cart-icon {
        top: 5px;
        right: 5px;

        .products-count {
            position: absolute;
            height: 15px;
            width: 20px;
            color: white;
            left: 0px;
            font-size: 13px;
            background-color: #ef0000;
            border-radius: 8px;
            font-weight: bold;
            line-height: 13px;
            bottom: 0;
            border: 1px solid #f7f7f7;
        }
    }

}


