.product-item-container
    .img-container
        img(src="/assets/pc.webp")
    .info-container
        .name {{product.name}}
        .price {{product.price | currency: '$ ' : 'symbol' : '1.0-0'}}
        .available Producto{{product.available? '': ' no'}} disponible para envío
        .stock {{product.quantity}} en stock
    .cart-button-container
        button(mat-stroked-button, [disabled]="!product.available", (click)="addProduct(product)")
            i.fas.fa-cart-plus
            span  {{cartService.cartProductExist(product.id) ? 'Comprar' : 'Agregar'}}